.firstdiv {
    width: 55%;
    height: 30%;
    margin: auto;
    text-align: left;
}

.prof {
    width: 20%;
    margin-right: 7%;
    float: left;
}

h1 {
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 0;
    background-color: whitesmoke;
}

h3 {
    background-color: beige;
    margin-top: 0;
}

.whatsapp {
    margin-left: 20px;
    height: 25px;
    width: 25px;
}

.phone {
    margin-left: 20px;
    height: 25px;
    width: 25px;
}

.mail {
    margin-left: 20px;
    height: 25px;
    width: 25px;
}

.instagram {
    margin-left: 20px;
    height: 25px;
    width: 25px;
}

a {
    font-size: medium;
    color: gray;
    text-decoration: none;
    height: 70px;
    width: 70px;
}

.numbers {
    position: absolute;
    width: 400px;
    border-color: black;
    border-style: solid;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    padding-left: 5%;
}

.profile {
    position: relative;
    width: auto;
    border-color: black;
    border-style: solid;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    padding-left: 5%;
    margin-left: 403px;
}

.s {
    margin-left: 30px;
}
