.firstdiv {
    width: 45%;
    height: 30%;
    margin: auto;
    text-align: left;
    padding-top: 0.25%;
}

.prof {
    width: 25%;
    margin-top: 1%;
    float: left;
}

h1 {
    color: darkkhaki;
    padding-top: 6%;
    margin-left: 15%;
    padding-bottom: 2%;
    margin-bottom: 0;
    padding-left: 15%;
    background-color: whitesmoke;
}

h3 {
    color: darkgray;
    background-color: beige;
    margin-left: 15%;
    margin-top: 0;
    padding-left: 15%;
}

.whatsapp {
    margin-left: 20px;
    height: 25px;
    width: 25px;
}

.phone {
    margin-left: 20px;
    height: 25px;
    width: 25px;
}

.mail {
    margin-left: 20px;
    height: 25px;
    width: 25px;
}

.instagram {
    margin-left: 20px;
    height: 25px;
    width: 25px;
}

.location {
    margin-left: 20px;
    height: 25px;
    width: 25px;
}

a {
    font-size: medium;
    color: gray;
    text-decoration: none;
    height: 70px;
    width: 70px;
}

.numbers {
    left: 0;
    color: gray;
    position: absolute;
    width: 29.5%;
    border-color: black;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    margin-left: 15.5%;
}

.profile {
    color: gray;
    position: relative;
    width: 35%;
    text-align: justify;
    border-color: black;
    border-style: solid;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    padding-left: 0.03%;
    margin-left: 45%;
    margin-right: 15.6%;
}

.s {
    margin-left: 30px;
}

.language {
    margin-left: 30px;
}

.arone {
    width: 50px;
    height: 5px;
    position: relative;
    background-color: rgb(3, 156, 156);
}

.artwo {
    width: 49px;
    height: 5px;
    left: 0;
    position: absolute;
    background-color: darkslategrey;
}

.frone {
    width: 50px;
    height: 5px;
    position: relative;
    background-color: rgb(3, 156, 156);
}

.frtwo {
    width: 45px;
    height: 5px;
    left: 0;
    position: absolute;
    background-color: darkslategrey;
}

.engone {
    width: 50px;
    height: 5px;
    position: relative;
    background-color: rgb(3, 156, 156);
}

.engtwo {
    width: 30px;
    height: 5px;
    left: 0;
    position: absolute;
    background-color: darkslategrey;
}

.flexx {
    margin-left: 30px;
    display: flex;
    gap: 15%;
}

.flex {
    margin-left: 30px;
    display: flex;
    gap: 15%;
}

.c {
    width: 50px;
}

h2 {
    color: darkolivegreen;
}