.firstdiv {
    width: 45%;
    height: 30%;
    margin: auto;
    text-align: left;
    padding-top: 0.25%;
}

.prof {
    width: 10%;
    margin-left: 21%;
    margin-top: 1%;
    float: left;
}

h1 {color: darkkhaki;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 0;
    padding-left: 70px;
    background-color: whitesmoke;
}

h3 {color: darkgray;
    background-color: beige;
    margin-top: 0;
    padding-left: 70px;
}

.whatsapp {
    margin-left: 20px;
    height: 25px;
    width: 25px;
}

.phone {
    margin-left: 20px;
    height: 25px;
    width: 25px;
}

.mail {
    margin-left: 20px;
    height: 25px;
    width: 25px;
}

.instagram {
    margin-left: 20px;
    height: 25px;
    width: 25px;
}

a {
    font-size: medium;
    color: gray;
    text-decoration: none;
    height: 70px;
    width: 70px;
}

.numbers {color: gray;
    position: absolute;
    width: 400px;
    border-color: black;
    border-style: solid;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    padding-left: 5%;
}

.profile {color: gray;
    position: relative;
    width: auto;
    border-color: black;
    border-style: solid;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    padding-left: 5%;
    margin-left: 403px;
}

.s {
    margin-left: 30px;
}

.language {
    margin-left: 30px;
}

.arone {
    width: 50px;
    height: 5px;
    position: relative;
    background-color: rgb(3, 156, 156);
}

.artwo {
    width: 49px;
    height: 5px;
    left: 0;
    position: absolute;
    background-color: darkslategrey;
}

.frone {
    width: 50px;
    height: 5px;
    position: relative;
    background-color: rgb(3, 156, 156);
}

.frtwo {
    width: 45px;
    height: 5px;
    left: 0;
    position: absolute;
    background-color: darkslategrey;
}

.engone {
    width: 50px;
    height: 5px;
    position: relative;
    background-color: rgb(3, 156, 156);
}

.engtwo {
    width: 30px;
    height: 5px;
    left: 0;
    position: absolute;
    background-color: darkslategrey;
}

.flexx {
    margin-left: 30px;
    display: flex;
    gap: 15%;
}

.flex {
    margin-left: 30px;
    display: flex;
    gap: 15%;
}

.c {
    width: 50px;
}
h2{color: darkolivegreen;}
