body {
    text-align: center;
}

div {
    width: 55%;
    height: 30%;
    margin: auto;
    text-align: left;
}

img {
    width: 20%;
    margin-right: 7%;
    float: left;
}

h1 {
    padding-top: 7%;
    padding-bottom: 3%;
    margin-bottom: 0;
    background-color: whitesmoke;
}

h3 {
    background-color: beige;
    margin-top: 0;
}

h2 {
    font-size: 150%;
    text-align: center;
}

.pl {
    color: darkcyan;
    font-family: Papyrus, fantasy;
    font-size: 200%;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

.f {
    text-decoration: none;
    color: white;
}

.e {
    margin-left: 6%;
    text-decoration: none;
    color: white;
}

hr {
    border-style: dotted;
    margin-left: 47%;
    margin-right: 47%;
    height: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-width: 5px;
    border-color: gray;
}

#btn {
    background: darkcyan;
    background-image: -webkit-linear-gradient(top, #34d5db77, darkcyan);
    background-image: -moz-linear-gradient(top, #34d5db77, darkcyan);
    background-image: -ms-linear-gradient(top, #34d5db77, darkcyan);
    background-image: -o-linear-gradient(top, #34d5db77, darkcyan);
    background-image: linear-gradient(to bottom, #34d5db77, darkcyan);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 4px 5px 26px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

#btn:hover {
    background: #3cfce2;
    background-image: -webkit-linear-gradient(top, #33f5db, #1ed89a);
    background-image: -moz-linear-gradient(top, #33f5db, #1ed89a);
    background-image: -ms-linear-gradient(top, #33f5db, #1ed89a);
    background-image: -o-linear-gradient(top, #33f5db, #1ed89a);
    background-image: linear-gradient(to bottom, #33f5db, #1ed89a);
    text-decoration: none;
}
